*

!.gitignore
!README.md
!docker-compose.yml
!constants.php
!unbuildApplication.php

!*/
!/applications/awsservermanager/*
!/applications/awsservermanager/**/*

!/applications/thirdinf/*
!/applications/thirdinf/**/*

!/applications/penh/*
!/applications/penh/**/*
