<div class="ipsGrid ipsGrid_collapsePhone ipsSpacer_bottom hero">
    <div class="ipsGrid_span6 ipsResponsive_hidePhone">&nbsp;</div>
    <div class="ipsGrid_span6 hero_textWrapper">
        <div class="ipsSpacer_bottom">
            <h2 class="ipsType_largeTitle ipsType_bold ipsType_uppercase">Rock of the marne</h2>
            <h4 class="ipsType_large">Providing the ultimate MilSim experience since 2003!</h4>
        </div>
        {{if \IPS\Member::loggedIn()->isSoldier()}}
        <a class="ipsButton ipsButton_important ipsMargin_right" href='{url="app=forums&module=forums"}' title="Go to forums">
            Forums
        </a>
        <a class="ipsButton ipsButton_important ipsMargin_right" href='{url="app=perscom&module=personnel"}' title="Go to PERSCOM">
            PERSCOM
        </a>
        {{else}}
        {{if \IPS\perscom\Applications\Application::canSubmitApplication()}}
        <a class="ipsButton ipsButton_action ipsMargin_right" href='{url="app=perscom&module=applications&controller=application"}' title="Start enlistment process">
            Enlist today
        </a>
        {{else}}
        <a class="ipsButton ipsButton_action ipsMargin_right" href='{url="app=core&module=system&controller=register" seoTemplate="register" protocol="\IPS\Settings::i()->logins_over_https"}' title="Start enlistment process">
            Enlist today
        </a>
        {{endif}}
        {{endif}}
        <a class="ipsButton ipsButton_link" href="/aboutus" title="Learn more about the Third Infantry Division"><i class="fa fa-bookmark"></i> Learn more</a>

    </div>
</div>
<div class="ipsGrid ipsGrid_collapseTablet ipsType_center ipsSpacer_both ipsSpacer_double" data-ipsGrid data-ipsGrid-equalHeights="row">
    <div class="ipsGrid_span4 ipsBox ipsPadding ipsSpacer_bottom ipsType_center pattern">
        <img src='{resource="home/history-icon.png" app="cms" location="front"}' alt="history icon">
        <h4 class="ipsType_large ipsType_uppercase">Rich History</h4>
        <p>The Third Infantry Divsion has accumulated decades of experience in the milsim/realism gaming scene running all the way back to America’s Army 2 and Day of Defeat.</p>
        <p>As one of the longest running units we are well known and respected within the PC gaming community. Our members strive for excellence in everything they do to provide the best experience.</p>
    </div>
    <div class="ipsGrid_span4 ipsBox ipsPadding ipsSpacer_bottom ipsType_center pattern">
        <img src='{resource="home/events-icon.png" app="cms" location="front"}' alt="events icon">
        <h4 class="ipsType_large ipsType_uppercase">Weekly Events</h4>
        <p>Our operations simulate real deployments lasting from 6 to 8 months with weekly missions written and built by experts based on current geopolitics.</p>
        <p>Every combat unit within our structure is required to stay up-to-date with their knowledge and a weekly squad drill is hosted for squad leadership to evaluate and coach their members.</p>
    </div>
    <div class="ipsGrid_span4 ipsBox ipsPadding ipsSpacer_bottom ipsType_center pattern">
        <img src='{resource="home/specialization-icon.png" app="cms" location="front"}' alt="specialization icon">
        <h4 class="ipsType_large ipsType_uppercase">Specializations</h4>
        <p>Under our ORBAT we offer several different combat specializations. You can choose to be an infantryman, a pilot, a medic, an officer and many more within our combat units.</p>
        <p>The Third Infantry Division is ran by the members themselves. We offer different administrative positions such as recruiter, journalist, uniform updater, engineer and many more.</p>
    </div>
</div>
<div class="ipsGrid ipsResponsive_hidePhone ipsSpacer_bottom ipsSpacer_double ipsMargin_horizontal:double">
    <div class="ipsGrid_span3">
        <div class="ipsFlex ipsFlex-fd:column ipsFlex-ai:center">
            <p class="ipsType_veryLarge"><i class="fa fa-male"></i></p>
            <p class="ipsType_large">{$active = \IPS\Db::i()->select('count(*)', 'perscom_personnel', 'personnel_status = 1')->first()}</p>
            <p class="ipsType_light">Active Duty Soldiers</p>
        </div>
    </div>
    <div class="ipsGrid_span3">
        <div class="ipsFlex ipsFlex-fd:column ipsFlex-ai:center">
            <p class="ipsType_veryLarge"><i class="fa fa-fighter-jet"></i></p>
            <p class="ipsType_large">{$members = \IPS\Db::i()->select('count(*)', 'penh_missions')->first()}</p>
            <p class="ipsType_light">Completed Missions</p>
        </div>
    </div>
    <div class="ipsGrid_span3">
        <div class="ipsFlex ipsFlex-fd:column ipsFlex-ai:center">
            <p class="ipsType_veryLarge"><i class="fa fa-trophy"></i></p>
            <p class="ipsType_large">{$awards = \IPS\Db::i()->select('count(*)', 'perscom_awards')->first()}</p>
            <p class="ipsType_light">Achievable Awards</p>
        </div>
    </div>
    <div class="ipsGrid_span3">
        <div class="ipsFlex ipsFlex-fd:column ipsFlex-ai:center">
            <p class="ipsType_veryLarge"><i class="fa fa-book"></i></p>
            <p class="ipsType_large">16</p>
            <p class="ipsType_light">Courses & Schools</p>
        </div>
    </div>
</div>
<div class="ipsGrid ipsGrid_collapseTablet">
    <div class="ipsGrid_span4 ipsBox ipsSpacer_bottom">
        {block="news_titles"}
    </div>
    <div class="ipsGrid_span8 ipsBox ipsSpacer_bottom">
        <h2 class="ipsType_sectionTitle ipsType_reset ipsType_uppercase ipsType_center ipsType_bold">Unit events</h2>
        {block="unit_news"}
    </div>
</div>
<div class="ipsFlex ipsFlex-jc:center ipsSpacer_both ipsSpacer_double">
    <div class="socials">
        <div class="ipsGrid ipsSpacer_bottom">
            <div class="ipsGrid_span6">
                <a href="#teamspeak_dialog" class="ipsFlex ipsFlex-fd:column ipsFlex-ai:center" data-ipsDialog data-ipsDialog-content="#teamspeak_dialog" data-ipsDialog-size="narrow">
                    <img src="/images/teamspeak.png" alt="Teamspeak" width="80%">
                    <p class="ipsType_reset ipsType_light">Official Sponsor</p>
                </a>
                <div id="teamspeak_dialog" class="ipsHide" style="height:600px;">
                    <div id="ts3viewer_1123149" style="height: 100%; padding: 16px"></div>
                    <script src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>
                    <script>
                        var ts3v_url_1 = "https://www.tsviewer.com/ts3viewer.php?ID=1123149&text=757575&text_size=12&text_family=1&text_s_color=000000&text_s_weight=normal&text_s_style=normal&text_s_variant=normal&text_s_decoration=none&text_i_color=&text_i_weight=normal&text_i_style=normal&text_i_variant=normal&text_i_decoration=none&text_c_color=&text_c_weight=normal&text_c_style=normal&text_c_variant=normal&text_c_decoration=none&text_u_color=000000&text_u_weight=normal&text_u_style=normal&text_u_variant=normal&text_u_decoration=none&text_s_color_h=&text_s_weight_h=bold&text_s_style_h=normal&text_s_variant_h=normal&text_s_decoration_h=none&text_i_color_h=000000&text_i_weight_h=bold&text_i_style_h=normal&text_i_variant_h=normal&text_i_decoration_h=none&text_c_color_h=&text_c_weight_h=normal&text_c_style_h=normal&text_c_variant_h=normal&text_c_decoration_h=none&text_u_color_h=&text_u_weight_h=bold&text_u_style_h=normal&text_u_variant_h=normal&text_u_decoration_h=none&iconset=default";
                        ts3v_display.init(ts3v_url_1, 1123149, 100);
                    </script>
                </div>
            </div>
            <div class="ipsGrid_span6">
                <a href="#discord_dialog" class="ipsFlex ipsFlex-fd:column ipsFlex-ai:center" data-ipsDialog data-ipsDialog-content="#discord_dialog" data-ipsDialog-size="narrow">
                    <img src="/images/discord.png" alt="Discord" width="80%">
                </a>
                <div id="discord_dialog" class="ipsHide" style="height:600px; width:500px">
                    <iframe src="https://discord.com/widget?id=826797366455566346&theme=dark" width="500" height="600" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
            </div>
        </div>
        <div class="ipsPadding ipsFlex ipsFlex-jc:around ipsType_large">
            <a href="https://www.youtube.com/c/ThirdInfantryDivisionRealismGaming"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.facebook.com/thirdinfantrydivision/"><i class="fa fa-facebook"></i></a>
            <a href="https://3rdinf.us/twitch/"><i class="fa fa-twitch"></i></a>
            <a href="https://steamcommunity.com/groups/3rdinf"><i class="fa fa-steam"></i></a>
        </div>
    </div>
</div>
